.specialist-location{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	text-align: right;
	line-height: 74px;
	border-bottom: 1px dashed #e5e5e5;
}
.specialist-location span:last-child{
	color: #00b0ec;
}


.specialist{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.figure-details{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.specialist .title{ 
	
	color: #333333; 
	overflow: hidden;
	line-height: 82px;
	flex: 1;
}
.specialist .title h1{
	font-size: 22px;
	float: left;
	font-weight: normal;
}
.specialist .title i{
	font-style: normal;
	padding: 0 6px;
	float: left;
}
.specialist .title span{
	float: left;
	font-size: 16px;
	color: #666666;
}

.specialist ul{
	margin-top: -20px;
}
.specialist ul li{
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	cursor:pointer;
}
.specialist ul li span{
	overflow: hidden;
	width: 189px;
	padding-right: 30px;
}
.specialist ul li span img{
	float: left;
	width: 100%;
}
.specialist ul li div.specialist-content{
	flex: 1;
}
.specialist ul li div.specialist-content h5{
	font-size: 20px;
	color: #333333;
	font-weight: normal;
	line-height: 32px;
}
.specialist ul li div.specialist-content time{
	font-size: 14px;
	color: #666666;
	padding-top: 12px;
	padding-bottom: 20px;
	display: block;
}
.specialist ul li div.specialist-content div{
	font-size: 16px;
	color: #666666;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	line-height: 26px;
}

.page{
	font-size: 12px;
	text-align: center;
	margin: 50px 0 0;
}
.page *{
	margin: 0 3px;
}
.page a,.page input{
	text-decoration: none;
	color: #333;
	line-height: 30px;
	width: 30px;
	text-align: center;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	display: inline-block;
	font-size: 12px;
	outline: none;
}
.page a.prev,.page a.next{
	width: 50px;
}
.page a.determine{
	width: 40px;
}
.page .color{
	color: #00b0ec;
}
.page a:hover{
	background: #00b0ec;
	color: #fff;
	border: 1px solid #00b0ec;
}
.page a.active{
	background: #00b0ec;
	color: #fff;
	border: 1px solid #00b0ec;
}

.policy{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
.policy h4{
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 22px;
	color: #333333;
	font-weight: normal;
}
.policy time{
	font-size: 16px;
	color: #666666;
}
.policy div{
	margin-top: 20px;
}